# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# IDEs
/.idea/
/*.iml
*.ipr
*.iws
/.classpath
/.project
/.settings/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Java
*.class
*.jar
*.war

# Eclipse
.settings/
bin/

# VS Code
.vscode/

# Node (if any)
node_modules/

# H2 DB files (if you use file mode)
data/
*.mv.db
*.trace.db

# credentials / env
application.properties
application-*.properties
.env
*.keystore
*.jks

# Build tools
.gradle/
build/

# Misc
/tmp/
